    <section class="section s-main">
      <div class="container">
        <div class="s-main__inner">
          <h1 class="s-main__title">
            Клуб личностного роста <br/> Николая Воробьёва
          </h1>
          <p class="s-main__introtext">
            Клуб&nbsp;— это инструмент, который помогает добиваться больших результатов с&nbsp;помощью развития личных качеств 
          </p>
          <p>
            <button class="btn btn-primary js-scr" href="#join">Вступить</button>
          </p>
        </div>
        <span class="s-main__sign">Николай Воробьёв</span>
      </div>
    </section>

    <section class="section s-what">
      <div class="container">
        <h2 class="title">Развиваем продуктивность, общительность, стрессоустойчивость</h2>

        <p>Клуб объединяет людей, которые хотят развиваться, чтобы достигать серьезных результатов. Но&nbsp;им&nbsp;не&nbsp;хватает энергии, времени, навыков.</p>

        <div class="row">
          <div class="col-xs-6">
            <h5>Клуб помогает стать быстрым и&nbsp;продуктивным</h5>
            <p>Ты&nbsp;поймешь как планировать день, правильно распределять задачи и&nbsp;не&nbsp;тормозить</p>
          </div>
          <div class="col-xs-6">
            <h5>Коммуникабельным и&nbsp;вдохновляющим</h5>
            <p>Станешь более общительным, научишься вдохновлять людей идеями и&nbsp;вести их&nbsp;за&nbsp;собой</p>
          </div>
          <div class="col-xs-6">
            <h5>Энергичным и&nbsp;стрессоустойчивым</h5>
            <p>Ты&nbsp;сможешь оставаться бодрым целый день, быстро восстанавливать энергию, не&nbsp;обращать внимание на&nbsp;мелочи, которые раньше &laquo;выбивали из&nbsp;колеи&raquo;</p>
          </div>
      </div>
    </section>

    <section class="section s-how">
      <div class="container">
        <h2 class="title">Как мы&nbsp;это делаем</h2>
        <div class="row">
          <div class="col-xs-6">
            <h5>Объединяем успешных людей</h5>
            <p>В&nbsp;клубе собираются люди, которые хотят оставить наследие и&nbsp;уже двигаются в&nbsp;этом направлении. Здесь ты&nbsp;&laquo;загоришься&raquo; успехами участников и&nbsp;захочешь также. Почувствуешь энергетику тренера и&nbsp;сообщества. Познакомишься с&nbsp;людьми, которые тоже стремятся к&nbsp;успеху</p>
          </div>
          <div class="col-xs-6">
            <h5>Непрерывно обучаем</h5>
            <p>Каждую среду ты&nbsp;получаешь концентрированную информацию по&nbsp;вопросу. Это как прочитать книгу, только книгу ты&nbsp;прочел, а&nbsp;за&nbsp;следующую неизвестно когда возьмешься. Сообщество&nbsp;же задает ритм&nbsp;&mdash; ты&nbsp;развиваешься непрерывно</p>
          </div>
          <div class="col-xs-6">
            <h5>Решаем актуальные проблемы</h5>
            <p>Раз в&nbsp;неделю на&nbsp;вебинаре мы&nbsp;разбираем проблемную тему. Тема берется не&nbsp;с&nbsp;&laquo;потолка&raquo;&nbsp;&mdash; ты&nbsp;предлагаешь её&nbsp;в&nbsp;закрытой группе &laquo;Вконтакте&raquo;. Поэтому каждая встреча полезна: не&nbsp;знал, как успевать на&nbsp;работе в&nbsp;два раза больше&nbsp;&mdash; получил рекомендации и&nbsp;внедрил</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-topics">
      <div class="container">
        <h2 class="title">Какие темы разбираем</h2>

        <p class="introtext">
          На&nbsp;занятиях мы&nbsp;придерживаемся четырех направлений, которые нужны, чтобы добиваться результатов: управление собой, коммуникация, продуктивность, счастье.
          <br/>
          Ты&nbsp;задаешь вопрос&nbsp;&mdash; я&nbsp;готовлю информацию и&nbsp;упаковываю её&nbsp;в&nbsp;40-минутный формат. Это помогает решить проблему и&nbsp;сэкономить время.
        </p>

        <div class="row">
          <div class="col-md-3 col-xs-6">
            <h4>Управление собой</h4>
            <p>Энергетический менеджмент: как не&nbsp;&laquo;сливать&raquo; и&nbsp;восстанавливать энергию. Как быть бодрым целый день. Как стать стрессоустойчивым</p>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4>Коммуникация</h4>
            <p>Как нанимать и&nbsp;контролировать сотрудников. Решать конфликты. Продавать</p>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4>Продуктивность</h4>
            <p>Как планировать время и&nbsp;расставлять приоритеты</p>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4>Счастье</h4>
            <p>Как найти баланс между заработком и&nbsp;личным счастьем, как побороть пустоту, как выйти из&nbsp;состояния &laquo;вроде все хорошо, но&nbsp;что-то не&nbsp;так&raquo;</p>
          </div>
        </p>
      </div>
    </section>

    <section class="section s-results">
      <div class="container">
        <h2 class="title">Результаты</h2>

        <div class="s-results__row">
          <div class="s-results__item">
            <h5>Лучшее окружение</h5>
            <p>Общительность и&nbsp;умение вести за&nbsp;собой поможет быстрее добиваться целей и&nbsp;сформировать вдохновляющий круг общения</p>
          </div>
          <div class="s-results__item">
            <h5>Большие результаты в&nbsp;жизни и&nbsp;бизнесе</h5>
            <p>За&nbsp;счет развития продуктивности, общительности и&nbsp;стрессоустойчивости ты&nbsp;пробьешь &laquo;финансовый потолок&raquo; и&nbsp;начнешь добиваться &laquo;жирных&raquo; результатов: &laquo;Лексус&raquo;, трешка в&nbsp;центре, 2&nbsp;млн в&nbsp;месяц</p>
          </div>
          <div class="s-results__item">
            <h5>Счастье</h5>
            <p>Благодаря результатам, поддержке тренера и&nbsp;вдохновляющему окружению ты&nbsp;почувствуешь себя энергичным, позитивным и&nbsp;счастливым человеком</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-quote">
      <div class="container">
        <div class="quote">
          <blockquote class="quote__text">&laquo;Я&nbsp;хотел бизнес закрывать, а&nbsp;теперь послушал тебя и&nbsp;развил его в&nbsp;три раза&raquo;</blockquote>
          <span class="quote__sign">&mdash;&nbsp;Максим Мартьянов</span>
        </div>
      </div>
    </section>

    <section class="section s-format">
      <div class="container">
        <h2 class="title title--center">Формат</h2>

        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="s-format__message">
              <div class="s-format__message-text">
                Привет, выбери тему следующей среды — https://vk.com/klr20?w=wall-111743820_805/all
              </div>
            </div>
            <h4>Голосуй за&nbsp;полезную тему</h4>
            <p>Раз в&nbsp;неделю в&nbsp;закрытой группе &laquo;Вконтакте&raquo; участники клуба предлагают темы для обсуждения. После&nbsp;&mdash; 4&nbsp;дня идет голосование. Тема-победитель подробно разбирается на&nbsp;вебинаре</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="s-format__message">
              <div class="s-format__message-text">
                Даниил, напоминаю, что сегодня у нас в 20:00 мск занятие про деньги, ждём тебя:)
              </div>
            </div>
            <h4>Участвуй онлайн</h4>
            <p>Каждую среду в&nbsp;20:00 по&nbsp;Москве мы&nbsp;собираемся онлайн, чтобы разобрать тему, которую выбрали участники. За&nbsp;час до&nbsp;вебинара администратор Настя пришлет ссылку</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="s-format__message">
              <div class="s-format__message-text">
                Привет, жаль, что не успел на занятие вчера. Вот запись https://vk.com/video684697_45623904
              </div>
            </div>
            <h4>Или смотри запись</h4>
            <p>Если не&nbsp;можешь прийти, качай запись, но&nbsp;я&nbsp;рекомендую быть на&nbsp;занятии, потому что ты&nbsp;сможешь задать вопрос и&nbsp;сразу получить ответ. Плюс я&nbsp;уделю твоей проблеме персональное внимание, а&nbsp;значит получишь больше пользы</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-quote">
      <div class="container">
        <div class="quote">
          <blockquote class="quote__text">&laquo;После каждого вебинара устраиваю разнос сотрудникам&raquo;</blockquote>
          <span class="quote__sign">&mdash;&nbsp;Павел</span>
        </div>
      </div>
    </section>
