.s-preview-main {
  background: #fff;
  padding-bottom: 6em;

  &__head {
    margin-top: 5em;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-top: 10em;
    }
  }

  &__introtext {
    font-size: 1.714em;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 1em;
  }
  &__inner {
    &-left {
      padding-bottom: 1em;
    }
    &-right {
      p.lead {
        margin-top: 0;
      }
      .form {
        border: solid #ccc 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #efefef;
        padding: 40px;

        p {
          margin-bottom: 1em;
        }
        .form__wrap {
          margin: 0 -1.071rem;
        }
        input {
          border: solid #ccc 2px !important;
        }
      }
    }
  }
}
