.s-price {
  padding-top: 0 !important;
  padding-bottom: 10em;

  &__row {
  }

  &__item {
    &-text {
      background-color: $color-back;
      padding: 2.857em;
      padding-bottom: (2.857em - 2.143em);

      h5 {
        margin-top: 0;
      }
    }

    &-button {
      padding: 1.428em 2.857em;

      a, button {
        display: block;
        width: 100%;
      }
    }

    &-header {
      font-weight: 400;
      &--special {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: $md) {
  .s-price {
    &__item-button {    
      padding: 1.428em 0em;
    }

    &__item-text {
      min-height: 220px;
    }
  }
}

@media (max-width: $xmd) {
  .s-price {
    &__item-button {
      .btn { 
        min-width: auto;     
        padding: 0 2%;
      }
    }

    &__item-text {
      min-height: 267px;
    }
  } 
}
  
@media (max-width: $xxmd) {
  .s-price {
    &__row {
      .col-xs-4 { 
        max-width: 100%;     
        flex-basis: 100%;
      }
    }
    
    &__item-text {
      min-height: 0;
    }
  } 
}
@media (max-width: $xs) {
  .s-price {
    padding-bottom: 3em;
  }
}
