---
layout: base
---

<div class="root-layout">
  <header class="header">
    <div class="container">
      <div class="header__logo">
        <a href="#first" class="logo js-scr" title="">
          Николай Воробьёв
        </a>
      </div>
      <nav class="header__nav">
        <ul class="menu-primary">
          <li class="menu-primary__item">
            <a href="#about" class="js-scr" title="">О тренере</a>
          </li>
          <li class="menu-primary__item">
            <a href="#what" class="js-scr" title="">Что ты получишь</a>
          </li>
          <li class="menu-primary__item">
            <a href="#reviews" class="js-scr" title="">Отзывы участников</a>
          </li>
          <li class="menu-primary__item">
            <a href="#join" title="" onclick="yaCounter39943320.reachGoal('rec_menuitem_click');">Купить курс</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main" role="main">
    <section class="section s-preview-main" id="first">
      <div class="container">
        <div class="s-preview-main__head">
          <h1 class="s-preview-main__title">
            Курс «{{ page.title }}»
          </h1>
          <p class="s-preview-main__introtext">
            {{ page.introtext }}
          </p>
        </div>
        <div class="s-preview-main__inner">
          <div class="row">
            <div class="col-xs-12 col-md-7 s-preview-main__inner-left">
              {% if page.past %}
                <h5>Посмотри видео, чтобы узнать, о чём вебинар</h5>
              {% else %}
                <h5>Посмотри видео, чтобы узнать, о чём будет вебинар</h5>
              {% endif %}
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/am5i9qz5g60?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
              </div>
            </div>
            <div class="col-xs-12 col-md-5 s-preview-main__inner-right">
              <h5>Что даёт курс</h5>
              <p>Избавишься от стресса
              <br/>Прокачаешь внутреннее состояние
              <br/>Станешь бодрее и энергичнее
              </p>
              <a class="btn btn-primary glopart-buy-btn" onclick="yaCounter39943320.reachGoal('rec_button_click');" href="https://glopart.ru/buy/168660">Купить курс</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include about.html %}

    <section class="section s-preview-what" id="what">
      <div class="container">
        <h2 class="title">Зачем тебе курс «{{ page.title }}»</h2>
        <div class="row">
        {% if page.audience %}
          <div class="col-xs-12 col-sm-6">
            <h4>Курс тебе подойдёт если:</h4>
            {% for member in page.audience %}
              {{ member }}<br/>
            {% endfor %}
          </div>
        {% endif %}
        {% if page.gotchas %}
          <div class="col-xs-12 col-sm-6">
            <h4>Записывайся, чтобы:</h4>
            {% for gotcha in page.gotchas %}
              {{ gotcha }}<br/>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </section>

    {% if page.reviews %}
      <section id="reviews" class="section s-reviews">
        <div class="container">
          <h2 class="title title--center">
            Отзывы участников
          </h2>
          <div class="reviews js-list">
            {% for review in page.reviews %}
              {% include review.html review=review %}
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}

    <section class="section s-anchor" id="join">
      <div class="container">
        <h3 class="title">Купить курс</h3>
        <ul>
          <li>Цена — 999 рублей</li>
          <li>Ссылка на курс придёт на электронную почту сразу же после оплаты</li>
        </ul>
        <br/>
        <a class="btn btn-primary glopart-buy-btn" onclick="yaCounter39943320.reachGoal('rec_button_click');" href="https://glopart.ru/buy/168660">Купить курс</a>
      </div>
    </section>
  </main>
  {% include footer.html %}
</div>
<script type="text/javascript" src="//glopart.ru/buy-onsite/168660/script.js"></script> 
